* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --bcolor:white;
}

body {
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Mukta', sans-serif;
    height: 100vh;
    background:#3333;
    width: 100%;

}


.container {
    position: absolute;
    bottom: 60px;
    width: auto;
}

.coin {
    display: flex;
    width: 330px;
    height: 43px;
    opacity: 0.9;
    border-radius: 12px;
    margin: 10px;
    background: var(--bcolor);
    box-shadow: 3px 4px 5px 2px rgb(181, 179, 179);
}

.coin .coin-logo {
    width: 20%;
    height: 100%;
    display: grid;
    place-items:center;

}

.coin .coin-logo img {
    width: 48%;
    height: 70%;
}

.coin .coin-name {
    height: 120%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
   
}

.coin .coin-name h3 {
    font-size: 17px;
    text-transform: uppercase;
}

.coin .coin-name span {
    font-size: 9px;
    font-weight: 500;
    margin:6px 0 0 2px;
}

.coin .coin-price {
    display: grid;
    align-items: center;
    margin-left: auto;
    padding: 8px 22px 0 0;
    text-align: right;
}

.coin .coin-price .price {
    color:#46F953;
    font-size: 16px;
    font-weight: 700;
    margin-top: -6px;
}

.coin .coin-price .change {
    color: #aaa;
    font-size: 11px;
    font-weight: 500;
    margin-top:-6px;
}

.coin.rising {
    background: var(--bcolor);

}

.coin.rising .coin-price .price {
    color:#46F953;
}

.coin.falling {
    background: var(--bcolor);
}

.coin.falling .coin-price .price {
    color:#ff4040;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 15px;
}

.footer-icon {
    text-align: center;
}

.footer-icon p {
    text-align: center;
}

.color-icon {
    color:rgb(98, 96, 96);
    font-family: helvetica,sans-serif;
    font-weight: 400;
    
}

.footer-icon a{
    text-decoration: none;
}
.text--i {
    font-style: italic;
    letter-spacing: 3px;
    font-size: 11px;
}
.header {
    position: absolute;
    top:0px;
    width: 100%;
    height: 45px;
    background-color: black;
    display: flex;
    box-shadow: 0 2px;
}

.header-name {
    position: relative;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:auto;
    font-size: 21px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
    letter-spacing: 8px;
}


.slide {
    position: absolute;
    top: 23px;
    margin: 0 auto;
    width: 470px;
    height: 277px;
}

.h-95 {
    height: 95%;
}

.footer {
    display: none;
}

@media screen and (max-width: 417px){

    .coin {
        width: 369px;
        height: 50px;
    }

    .coin .coin-logo {
        width: 23%;
    }

    .container {
        position: absolute;
        bottom: 68px;
    }
    .slide {
        width: 100%;
        height: 236px;
    }

    .footer {
        background:#333;
        display: flex !important;
        position: absolute;
        bottom: 0;
        border-radius: 10px;
        height: 55px;
        
    }

    .footer-element {
        text-decoration: none;
        font-size: 15px;
        color: white;
        border-right: 1px solid white;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        width: 20%;
        margin: 3px 0px;
        
    }

    .footer-element-icon {
        display:block;
    }

    .footer-element-text {
        display:block;
        margin: 0;
    }

}

@media screen and (max-width: 380px){
    .container {
        position: absolute;
        bottom: 70px;
    }

    .coin {
        height: 38px;
        width: 340px;
    }
    .coin .coin-logo {
        width: 18%;
    }
    .slide {
        width: 100%;
        height: 227px;
    }

    .footer {
        background:#333;
        display: flex !important;
        position: absolute;
        bottom: 0px;
        border-radius: 10px;
        
    }

    .footer-element {
        text-decoration: none;
        font-size: 15px;
        color: white;
        border-right: 1px solid white;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        width: 20%;
        margin: 3px 0px;
        
    }

    .footer-element-icon {
        display:block;
    }

    .footer-element-text {
        display:block;
        margin: 0;
    }
}

@media screen and (min-width: 388px) and (max-width: 400px) {
    .container {
        position: absolute;
        bottom: 110px;
    }
}